<agm-map (mapClick)="addPoi($event.coords)" [streetViewControl]="false"  [showDefaultInfoWindow]="false" [clickableIcons]="false" [usePanning]="true"
  [zoomControl]="false" [latitude]="userLocation.lat" [longitude]="userLocation.lon" (mapReady)="mapReady($event)"
  [zoom]='zoom' (centerChange)="centerChange($event)" (boundsChange)="boundsChange($event)">

  <agm-marker [animation]="'drop'" *ngFor="let img of picturesOnMap" [latitude]="img.coordinate.lat" [longitude]="img.coordinate.lon" >
    <agm-info-window [maxWidth]="300">
      <!-- shouldn't be necessary if you implement tumbnails -->
        <app-image-card [image]="img"></app-image-card>
    </agm-info-window>
  </agm-marker>

  <agm-marker [label]="'s'"  [latitude]="userLocation.lat" [longitude]="userLocation.lon" ></agm-marker>

  <agm-circle  *ngIf="debug" [latitude]="mapCenter.lat" [longitude]="mapCenter.lon"  [radius]="topEdge.radius" [fillColor]="'#7EC146'" ></agm-circle>



</agm-map>

<h5 id="hud">{{userLocation.lat}} {{userLocation.lon}} </h5>

<div class="fixed-action-btn" [hidden]="showFinalUploadStep" id="goToUserLocation">
  <button class="btn-floating btn-large ">
    <i class="large material-icons">mode_edit</i>
  </button>
  <ul>
    <li (click)="goToUserLocation()"><button class="btn-floating blue"><i class="material-icons">location_searching</i></button></li>
    <li (click)="uploadPicture()"><button class="btn-floating red" ><i class="material-icons">publish</i></button></li>
  </ul>
</div>

<div class="my-fixed-action-btn" *ngIf="showFinalUploadStep">
  <button  id="upload" [disabled]="!uploadMarker" class="btn-floating right btn-large waves-effect waves-light green" (click)="goToUpload('marker')"><i class="material-icons">check</i></button>
  <button id="cancel"  class="btn-floating left btn-large waves-effect waves-light red" (click)="cancelUpload()"><i class="material-icons">close</i></button>
</div>

<!-- Modal Structure -->
<div id="locationUploadModal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Picture Upload</h4>
    <p>Do you want to user your current location to upload a picture?</p>
  </div>
  <div class="modal-footer">
    <button class="modal-close waves-effect waves-green btn-flat" (click)="goToUpload()" >Yes</button>
    <button class="modal-close waves-effect waves-green btn-flat" (click)="confirm()" >No</button>
    <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
  </div>
</div>


<div id="confirmationModal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Picture Upload</h4>
    <p>Put a marker on the map to select the location of your picture. Then click on the upload button</p>
  </div>
  <div class="modal-footer">
    <button class="modal-close waves-effect waves-green btn-flat" (click)="goToMarkerUpload()">OK</button>
    <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
  </div>
</div>
