<agm-map  [streetViewControl]="false"  [showDefaultInfoWindow]="false" [clickableIcons]="false" [usePanning]="true"
  [zoomControl]="false" [latitude]="userLocation.lat" [longitude]="userLocation.lon" (mapReady)="mapReady($event)"
  [zoom]='zoom' (centerChange)="centerChange($event)" (boundsChange)="boundsChange($event)">

  <agm-marker [animation]="'drop'" *ngFor="let img of picturesOnMap" [latitude]="img.coordinate.lat" [longitude]="img.coordinate.lon" >
    <agm-info-window [maxWidth]="300">
      <!-- shouldn't be necessary if you implement tumbnails -->
        <app-image-card [image]="img"></app-image-card>
    </agm-info-window>
  </agm-marker>

  <agm-marker [label]="'s'"  [latitude]="userLocation.lat" [longitude]="userLocation.lon" ></agm-marker>

  <agm-circle  *ngIf="debug" [latitude]="mapCenter.lat" [longitude]="mapCenter.lon"  [radius]="topEdge.radius" [fillColor]="'#7EC146'" ></agm-circle>



</agm-map>

<h5 id="hud">{{userLocation.lat}} {{userLocation.lon}} </h5>

<button class="btn-floating btn-large waves-effect waves-light primary-color"
id="goToUserLocation" (click)="goToUserLocation()"><i class="material-icons">location_searching</i></button>
