<li class="collection-item avatar">
    <img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/29257738_1754853451201814_2571458906268950091_n.jpg?_nc_cat=109&_nc_eui2=AeFg4mj15ff0_HAMAVHvsi5rs1wKRuXA8himA6ms-b6kNK3Lk7pG8PwNda7o7_Jo3OIbOrfUCMhFC3Jp6FQSYnHU7kE5wgb_hfHlsTSPUlHlhw&_nc_ht=scontent-otp1-1.xx&oh=06c6d3074f14330f86acf9c70e362685&oe=5D7F77B7" alt="" class="circle">
    <b>Serban </b> 4 days ago <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad officia quisquam iste, numquam vero blanditiis impedit minus, veritatis recusandae reprehenderit commodi temporibus dolore asperiores est iure harum laboriosam mollitia ea!
  </li>