@import "../../../../sass/vars";

:host {
    min-height: 360px;
    display: block;
    background: linear-gradient(to bottom,  $primary-color 0%,rgba(0,0,0,0) 100%);
    margin-bottom: -200px;
    background-size: cover;
    z-index: 0;
    position: relative;
}

:host::after {
    content: attr(data-before); // no bueno chnage to div with postion absolute and z index 1
    position: absolute;
    width: 100%;
    min-height: 360px;
    display: block;
    top:0;
    // filter: blur(5px);
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.card {
    margin-bottom: 0;
}
.row {
    margin-bottom: 0;
}


.tagTitle  {
    color:white;
    min-height: 218px;
    text-align: center;
    z-index: 2;
    position: relative;
}

.tagTitle > * {
    margin-top: 0;
    margin-bottom: 0;
    margin:0 auto;
}

.tagTitleDetails > * {
    margin-top:0;
    margin-bottom: 0;
    font-weight: bold;
    text-shadow: 0px 1px 2px black;
}