@import "../../../../sass/vars";

:host {
    min-height: 360px;
    display: block;
    background: linear-gradient(to bottom,  $primary-color 0%,rgba(0,0,0,0) 100%);
    margin-bottom: -180px;
    background-size: cover;
    z-index: 0;
    position: relative;
}

.background-blur {
    position: absolute;
    width: 100%;
    min-height: 360px;
    top:0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
}

.card {
    margin-bottom: 0;
}
.row {
    margin-bottom: 0;
}


.tagTitle  {
    color:white;
    min-height: 238px;
    text-align: center;
    z-index: 2;
    position: relative;
}

.tagTitle > * {
    margin-top: 0;
    margin-bottom: 0;
    margin:0 auto;
}

.tagTitleDetails > * {
    margin-top:0;
    margin-bottom: 0;
    font-weight: bold;
    text-shadow: 0px 1px 2px black;
}