@import "../../../../sass/vars";

:host {
    min-height: 360px;
    display: block;
    background: linear-gradient(to bottom,  $primary-color 0%,rgba(0,0,0,0) 100%);
    margin-bottom: -200px;
    background-size: cover;
  }

.card {
    margin-bottom: 0;
}
.row {
    margin-bottom: 0;
}


.tagTitle  {
    color:white;
    min-height: 260px;
    text-align: center;
}

.tagTitle > * {
    margin-top: 0;
    margin-bottom: 0;
    margin:0 auto;
}

.tagTitleDetails > * {
    margin-top:0;
    margin-bottom: 0;
    text-shadow: 0px 1px 5px black;
}