%errToast {
    background-color: red;
}

%successToast {
    background-color: $primary-color;
}


%treeBg {
    background-color: $tree-dark;
    background-image: url('~/assets/topography.svg');
}



%treeBgLight {
    background-color: $tree;
    background-image: url('~/assets/topography.svg');
}

%headerTitle {
  padding-top: 10px;
  margin-top:0;
  color:white;
  font-weight: bold;
  text-shadow: 0px 1px 2px black;
}

%valign-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

%smooth-animation {
    animation-duration: 0.5s;
    animation-timing-function: linear;
}