$roboto-font-path: "~materialize-css/dist/fonts/roboto/";
@import './vars';
@import './classes';
@import '~@ng-select/ng-select/scss/default.theme.scss';
@import "~materialize-css/sass/materialize";

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  // background: black;
}

.interceptorErrToast {
  @extend %errToast;
}

.debug {
  border: 2px solid fuchsia;
}

.ng-value-label,
.ng-option-label {
  color: white;
  font-weight: bold !important;
  text-shadow: 1px 1px 2px black;
}

.ng-input {
  display: none;
}

.ng-option {
  border-top: 2px solid rgba(0, 0, 0, 0.3);
}

.ng-option:hover {
  background-color: rgba($primary-color, 1) !important;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-7 {
  margin-bottom: 7px;
}

.p-0 {
  padding: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.truncate {
  margin-right: -5px;
}

.primary-color {
  background-color: $primary-color;
}

.w-100 {
  width:100%;
}
