@import '../../../../sass/vars';
@import '../../../../sass/classes';

.card-panel {
  color:white;
  padding-top: 50px;
}

.image {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid white;
  margin-bottom: -50px;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}
