@import '../../../../sass/vars';
@import '../../../../sass/classes';

img {
  display: block;
  margin: 0 auto;
  max-height: 70vh;
  max-width: 100%;
}

.show {
  opacity: 1!important;
}

.loading {
  width: 100%;
  text-align: center;
  opacity: 0;
  height: 132px;
}

.container {
  padding-top: 50px;
}

agm-map {
  height: 500px;
}

tag-input::ng-deep tag-input-form {
  width: 100%;
}


tag-input::ng-deep tag {
  background-color: $primary-color !important;
  color: white !important;
}

tag-input::ng-deep > div {
  border-bottom: none !important;
}

