@import '../../../../sass/vars';
@import '../../../../sass/classes';

.view-container  {
  @extend %treeBg;
}

img {
  display: block;
  margin: 0 auto;
  max-height:90vh;
  max-width: 100%;
}

.title {
  // border: 2px solid red;
  padding-bottom:  10px;
  color:white;
}



.title > .row {
  padding: 0;
  margin:0;
}

.title > .row > .col > h4 {
  padding: 0;
  margin:0 0 0 -3px;
}

