<div class="image-container">

  <img [src]="image?.picture | safeImage">

  <div class="row valign-wrapper">

    <div class="col s8 pr-0">
      <div class="title">
        <div class="row">
          <div class="col s12 imageTitile pr-0" >
            <h4 class="truncate">{{image.fileName.split('.')[0]}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            by <b>{{image.owner.username | titlecase}} </b>
            {{image.createdAt | timeAgo}}
          </div>
        </div>
      </div>
    </div>


    <div class="col s4 pl-0">
      <div class="col s6 right-align p-0" (click)="likeImage()"  >

        <i class="fa fa-thumbs-up fa-2x"aria-hidden="true" [ngClass]="{'isLiked': isLiked, 'likes': authService.isUserLoggedIn()}" >
          <span>{{image.rating.likes.length}}</span>
        </i>

      </div>

      <div class="col s6 right-align p-0" (click)="dislikeImage()" >

        <i class="fa fa-thumbs-down fa-2x" aria-hidden="true" [ngClass]="{'isDisliked': isDisliked, 'dislikes': authService.isUserLoggedIn()}">
          <span>{{image.rating.dislikes.length}}</span>
        </i>

      </div>

    </div>
  </div>

  <div class="row col">
    <div class="col s12">
        {{image.description}} asdsds
    </div>
  </div>

</div>

<div class="post-comment">
  <div class="row">
    <form class="col s12 valign-wrapper" [formGroup]="comment" >
      <div class="input-field col s12 m10">
        <textarea id="textarea2" class="materialize-textarea" formControlName="text" data-length="120"></textarea>
        <label for="textarea2">Write a comment</label>
      </div>

      <div class="col s12 m2">
        <button class="btn waves-effect waves-light" [disabled]="postComentLoading" (click)="postComment()">Post</button>
      </div>

    </form>
  </div>
</div>
