@import '../../../../sass/vars';
@import '../../../../sass/classes';

:host {
  display: block;
  color: white;
}

.image-container {
  background: linear-gradient(to top, $tree-dark 0%, white 60%);
  padding-bottom: 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.image-container>.row {
  margin: 0px;
}

img {
  display: block;
  margin: 0 auto;
  max-height: 70vh;
  max-width: 100%;
}

.title {
  padding-bottom: 10px;
  margin-top: 12px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-comment {
  text-shadow: 2px 2px 2px black;
  background-color: $tree-dark;
}

.post-comment>.row {
  margin: 0;
}

.title>.row {
  padding: 0;
  margin: 0;
}

.title>.row>.col>h4 {
  padding: 0;
  margin: 0 0 0 -3px;
}

i>span {
  margin-left: 10px;
  font-family: initial;
}

label {
  color: white;
}

textarea {
  color: white;
}

.btn {
  width: 100%;
}

.all {
  min-height: 100%;
}


.likes:hover {
  color: $primary-color;
}

.dislikes:hover {
  color: #f2596d;
}

.isLiked {
  color: $primary-color;
}

.isDisliked {
  color: #f2596d;
}
