
.mcontainer {
  height: 100%!important;
  //overflow-y: scroll;
}

// ::-webkit-scrollbar {
//   width: 0px;  /* remove scrollbar space */
//   background: transparent;  /* optional: just make scrollbar invisible */
// }

.loading {
  border:2px solid red;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: gray;
  bottom: 0px;
}

