@import '../../../sass/vars';
// .mcontainer {
//   height : 100%;
//   overflow-y: auto;
// }

.loading {
  width: 100%;
  text-align: center;
  opacity: 0;
  height: 132px;
}

.goToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.show {
  opacity: 1;
}



:host > div {
  margin-bottom: 0px;
  overflow-y: hidden;
}

