<div class="leafContainer">
  <img [src]="image.picture | safeImage" (load)="initGrid()">
  <div class="bottom">
    <p>{{image.fileName}}</p>
  </div>
  <div class="buttons ">
    <div class="row center-align">
      <!-- likes -->
      <div class="col s4  ">
        <div class="likes" (click)="likeImage()" [ngClass]="{'isLiked': isLiked}">
          <i class="fa fa-thumbs-up fa-lg"></i> {{image.rating.likes.length}}
        </div>
      </div>


      <!-- comms -->
      <div class="col s4  ">
        <div class="comms">
          <i class="fa fa-commenting fa-lg"></i> 10
        </div>
      </div>

      <!-- dislikes -->
      <div class="col s4  ">
        <div class="dislikes" (click)="dislikeImage()" [ngClass]="{'isDisliked': isDisliked}">
          <i class="fa fa-thumbs-down fa-lg"></i> {{image.rating.dislikes.length}}
        </div>
      </div>


    </div>
  </div>
  </div>


