@import '../../../../sass/vars';
@import '../../../../sass/classes';

.myTitle {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content {
  padding: 0;
  @extend %treeBg;
}

.card  {
  cursor: pointer;
  // @extend %treeBg;
  transition: all .1s ease-in-out;
  color:white;
}

.card:hover {
  .card-image {
    opacity: 0.8;
  }
  .card-content {
    opacity: 0.8;
  }
  transform: scale(1.05);
}

.card-buttons {
  padding-top: 5px;
  padding-bottom: 5px;
}

.gigante {
  width:120%
}

i {
  margin-right: 5px;
  top: -2px;
  position: relative;
}

.isLiked {
  color: $primary-color;
 }

 .isDisliked {
  color:#f2596d;
 }

 .isLikedCard  {
  // border-bottom:5px solid $primary-color;
 }

 .isDislikedCard  {
  // border-bottom: 5px solid #f2596d;;
}

.likes:hover {
  color: $primary-color;
}

.dislikes:hover {
  color:#f2596d;
}
