<div class="card">

  <div class="card-image" (click)="goToImageView()">
    <img [src]="image.picture | safeImage" >
  </div>

  <div class="card-content center-align"  [ngClass]="{'isLikedCard': isLiked, 'isDislikedCard' : isDisliked }">

    <div class="myTitle">
        {{image.fileName}}
    </div>

    <div class="card-buttons row">

      <!-- likes -->
      <div class="col s4 ">
        <div (click)="likeImage()"  [ngClass]="{'isLiked': isLiked, 'likes': authService.isUserLoggedIn()}">
            <i class="fa fa-thumbs-up fa-lg"></i> {{image.rating.likes.length}}
        </div>
      </div>

      <!-- comms -->
      <div class="col s4 ">
        <div class="comms" (click)="goToImageView()">
            <i class="fa fa-commenting fa-lg"></i> 100
        </div>
      </div>

      <!-- dislikes -->
      <div class="col s4 ">
        <div class="dislikes" (click)="dislikeImage()" [ngClass]="{'isDisliked': isDisliked, 'dislikes': authService.isUserLoggedIn()}">
            <i class="fa fa-thumbs-down fa-lg"></i> {{image.rating.dislikes.length}}
        </div>
      </div>


    </div>
  </div>

</div>

