@import '../../../../sass/vars';

.card  {
    cursor: pointer;
}

.card-content {
    opacity: 0.8;
}

.card:hover {
    img {
        opacity: 0.7;
    }
    .card-content {
        opacity: 1;
    }

}


i {
    margin-right: 5px;
    top: -2px;
    position: relative;
    // color:gray;
}

.likes:hover {
   color: $primary-color;
}

.dislikes:hover {
    color: red;
}

.comms:hover {
   color: black;
}


.myTitle {
    padding: 5px;
}

.card-buttons {
    padding-top: 5px;
    padding-bottom: 5px;
    color:gray;
}


.card-content {
    padding: 0;
}
