<app-map [initialImages]="images"  [userLocation]="locationService.getCurrentLocation()" *ngIf="!loading" ></app-map>

<div class="center-in-page-container" *ngIf="loading">
  <app-pulse-loader ></app-pulse-loader>
</div>

<!-- <drag-scroll [scroll-x-wheel-enabled]="true"  [scrollbar-hidden]="true" *ngIf="!loading && images.length > 0"  [snap-disabled]="10" >
  <div class="col s4" drag-scroll-item *ngFor="let img of images">
      <app-image-card [image]="img"></app-image-card>
  </div>
</drag-scroll> -->

<!-- <div class="row">

</div> -->
