@import '../../../sass/vars';
@import '../../../sass/classes';

app-map {
  // max-height: calc(100vh - 50px - 61.22px);
  // border: 2px solid red;
  display: block;
  height: calc(100vh - 50px - 70px);
}


drag-scroll {
  width: 100%;
  background: linear-gradient(to bottom, $primary-color 20%, white 100%);
  height: 555px;
  padding-right:10px;
  padding-left: 10px;
}

app-image-card {
  margin-right: 10px;
  height: 100%;
  display: block;
}

:host > div:nth-child(1) {
  background-color: $primary-color;
  border:1px solid transparent;
  color:white;
}

.header-title {
  @extend %headerTitle;
}

