<div class="container-fluid">
  <div class="row center-align mb-0">
    <h4 class="header-title">Pictures near your location</h4>
  </div>
</div>


<drag-scroll [scroll-x-wheel-enabled]="true"  [scrollbar-hidden]="true" *ngIf="!loading && images.length > 0"  [snap-disabled]="true" >
  <div class="col s4" drag-scroll-item *ngFor="let img of images">
      <app-image-card [image]="img"></app-image-card>
  </div>
</drag-scroll>


<div class="container-fluid">
    <div class="row center-align mb-0">
      <h4 class="header-title">People's opinions</h4>
    </div>
</div>


<drag-scroll [scroll-x-wheel-enabled]="true"  [scrollbar-hidden]="true" *ngIf="!loading && comments.length > 0"  [snap-disabled]="true" >
    <div class="col s4" drag-scroll-item *ngFor="let comm of comments">
        <app-comment [comm]="comm" ></app-comment>
    </div>
</drag-scroll>
